services:
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - blue
      - green

  blue:
    extends:
      file: docker-compose.blue.yml
      service: blue

  green:
    extends:
      file: docker-compose.green.yml
      service: green
